@media only screen and (max-width: 640px) {
  .fl-page-editable [data-fl-edit] [data-fl-widget-instance][data-name="Primary Button"] {
    display: block;
  }
}

.sso-confirmation {
  display: none;
}

[data-sso-saml-id],
.sso-error-holder {
  margin-bottom: 10px;
}
