/* Buttons */

.btn-primary {
  display: block;
  clear: both;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  white-space: initial;
}

.btn-primary:focus,
.btn-primary:hover,
.btn:active:focus {
  outline: none;
}

@media (min-width:640px) {
  .btn-primary {
    clear: none;
    display: inline-block;
    width: auto;
    max-width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .fl-page-editable [data-fl-edit] [data-fl-widget-instance][data-name="Primary Button"] {
    display: block;
  }
}

.sso-login,
.sso-confirmation {
  display: none;
}

[data-sso-saml-id],
.sso-error-holder {
  margin-bottom: 10px;
}
