.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#redirectAction,
#ssoProvider,
.form-horizontal {
  overflow: hidden;
}

.form-horizontal {
  padding: 15px;
}

.widget-holder h3 {
  margin-top: 0;
}

.alert-warning u {
  cursor: pointer;
}

.help-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #333;
  opacity: 0.5;
}
