{
  "extends": "fliplet",
  "globals": {
    "describe": true,
    "it": true,
    "interfaceBrowser": true,
    "expect": true,
    "buildSelector": true,
    "buildBrowser": true,
    "before": true,
    "casual": true
  }
}   